body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .camera-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
  }
  
  video {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
  }
  
  button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #capturedPhotoContainer {
    margin-top: 20px;
  }
  